<div class="nav-component">
  <div class="top-nav">
    <div class="top-nav-items">
      <div class="menu-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <div class="bottom-nav">
    <div class="bottom-menu-items">
      <div class="location">
        <h4>Deliver to VINEET</h4>
        <h4>Gilbert 85233</h4>
      </div>
      <div class="search">
          <input class="input" type="text" placeholder="Text input">
      </div>
    </div>
  </div>
</div>
