.nav-component {
    background-color: #242F41
}

.bottom-menu-items{
    display: flex;
}
.menu-bar{
    margin: 2em, 2em;
    padding: 2em, 2em;
}
.bar{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0
}
h4{
    color: white;
}